$colorWashDark:			#444444;
$colorWashMedium:		     #aaaaaa;
$colorWashMediumLight:	#f3f3f3;
$colorWashLight: 		     #ffffff;
$colorWashLightTrans: 	rgba(255,255,255,.5);
$colorTypeDark:			#333333;
$colorAccentMedium:		#ed3f00;
$colorAlert:                red;