$fontRegular:       "Futura";
$fontBold:          "FuturaStd-Bold";
$fontItalic:        "Futura-MediumItalic";
$fontBoldItalic:    "FuturaStd-BoldOblique";

@mixin typeBody {
    font-family:    $fontRegular, serif;
    font-size:      12pt;
    line-height:    1.5em;
}

@mixin headerType {
    text-transform: lowercase;
    font-family:    $fontItalic;
    line-height:    1.25em;
    font-size:      12vw;
    letter-spacing:-.046875em;
	
    @media screen and (max-aspect-ratio: 3/4) {
        font-size:      15vw;
	}
    
    @media screen and (max-aspect-ratio: 2/3) {
        font-size:      18vw;
	}

    @media screen and (min-aspect-ratio: 3/2) {
        font-size:      9vw;
	}
    
    @media screen and (min-aspect-ratio: 16/9) {
        font-size:      6vw;
	}
}

html {
    @include typeBody;
    color:  white;
    
    a {
        color: white;
        text-decoration: none;
    }
}

@mixin smallCaps {
    font-size:      .666em;
    font-family:    $fontBold;
    letter-spacing: .25em;
    text-transform: uppercase !important;
}
