body {
	margin-left:    $gutter;
	
	background-color: black;
	
	.bg {
		background-size: cover;
    	background-attachment: fixed;
    	height: 100%;
    	width: 100%;
    	position: fixed;
    	top: 0;
    	left: 0;
    	opacity: .8;
    	z-index: -1;
	}

	.buttons {
		position: fixed;
		bottom: $baseline/2;
	
		ul {
			margin-top: 2vw;
			
			li {
				
				a {
					@include headerType;
					margin-right: 0.5vw;
					
					/*border: 1px solid #fff;
					border-radius: 1vw;
					
					color: white;
					font-size: 9vw;
					font-family: $fontItalic;
					text-decoration: none;
					border-bottom: .125em solid #fff;*/
					opacity: .5;
				}
				
				a:hover {
					opacity: 1;
				}
			}
		}
	}

	> header {
		display: block;

		h1 {
			@include headerType;

		}
	}
}