@import "_header.scss";
@import "_device.scss";

html {
    
    body {
        background-color: black;
        background-image: url('../images/bg.jpg');
        background-attachment: fixed;
    }
}