body {
	background-color: black;
	margin-left: $fixedGutter;

	.buttons {
		position: fixed;
		bottom: $baseline/2;
	
		ul {
			margin-top: 2vw;
			
			li {
				
				a {
					@include bigTitle;
					margin-right: 0.5vw;
				}
				
				a:hover {
					opacity: .5;
				}
			}
		}
	}

	> header {
		display: block;

		h1 {
			@include bigTitle;
            margin-top: $mainTitleTopMargin;
		}
	}
}