body {
    section.iphone {
        background: black;
        position:   absolute;
        height:     100vh;
        width:      100vw;
        cursor:     default;
    
        @media screen and (min-width: $breakpointTablet) {
            border-radius:  40pt;
            margin-left:    -135pt;
            position:       absolute;
            border:         1pt white solid;
            height:         $iPhoneHeight;
            width:          $iPhoneWidth;
            left:           50%;
            bottom:         -50vh;
        }
    
        .screen {
            background-color:   black;
            position:           relative;
            height:             100%;
            width:              100%;
            overflow:           scroll;
                
            @media screen and (min-width: $breakpointTablet) {
                margin-left:    -123pt;
                margin-top:     -217pt;
                position:       relative;
                height:         434pt;
                width:          245pt;
                left:           50%;
                top:            50%;
            }
    
            .interface {
                position:   relative;
                z-index:    2;
                height:     100%;
                width:      100%;
                
                &::after {
                    background-image:   url('../images/bgEvent.jpg');
                    background-size:    cover;
                    min-height:         100%;
                    min-width:          100%;
                    position:           fixed;
                    content:            "";
                    opacity:            0.9;
                    z-index:            -1;   
                    top:                0;
                    left:               0;
                }
                
                header {
                    
                    h1 {
                        font-family:    $fontItalic;
                        text-transform: lowercase;
                        line-height:    1em;
                        padding-top:    1em;
                        font-size:      4em;
                    }
                    
                    author {
                        @include smallCaps;
                        font-family:    $fontBoldItalic;
                        line-height:    4em;
                    }
                }
                
                .guestlist {
                    text-transform: lowercase;
                    margin-left:    25%;
                    margin-top:     1em;
                    
                    ul.no-reply {
                        opacity:    50%;
                    }
                }
            }
        }
    
        .homeButton {
            @media screen and (min-width: $breakpointTablet) {
                border-radius:  53pt;
                margin-left:    -27pt;
                position:       absolute;
                bottom:         10pt;
                border:         1pt white solid;
                height:         53pt;
                width:          53pt;
                left:           50%;
            }
        }
    }    
}
