body {
    margin-left:    $gutter;
    
    > header {
        display: block;
    
        h1 {
            text-transform: lowercase;
            font-family:    $fontItalic;
            line-height:    1.25em;
            font-size:      8vw;
            letter-spacing:-.03125em;
            
            span {
                display: block;
            }
        }
    }
}