$fontRegular:       "Futura";
$fontBold:          "FuturaStd-Bold";
$fontItalic:        "Futura-MediumItalic";
$fontBoldItalic:    "FuturaStd-BoldOblique";

@mixin typeBody {
    font-family:    $fontRegular, serif;
    font-size:      12pt;
    line-height:    1.5em;
}

@mixin headerType {
    text-transform: lowercase;
    font-family:    $fontItalic;
    line-height:    1.25em;
    font-size:      12vw;
    letter-spacing:-.03125em;
}

html {
    @include typeBody;
    color:  white;
    
    a {
        color: white;
        text-decoration: none;
    }
}

@mixin smallCaps {
    font-size:      .666em;
    font-family:    $fontBold;
    letter-spacing: .25em;
    text-transform: uppercase !important;
}
