/*
Syntax error: Invalid US-ASCII character "\xC3"
        on line 20 of /Users/Antonio/Documents/Projects/Let's/Website/LetsWebsite/static/css/print.scss

15:     }
16:     .menu {
17:         section {
18:             page-break-after: always;
19:             &:before {
20:                 content: "nîkúmøn";
21:                 margin-left: 2em;
22:             }
23:             ul {
24:                 li {
25:                     width: 12em;

Backtrace:
/Users/Antonio/Documents/Projects/Let's/Website/LetsWebsite/static/css/print.scss:20
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/engine.rb:373:in `block in check_encoding!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/util.rb:604:in `rescue in block in check_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/util.rb:601:in `block in check_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/util.rb:600:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/util.rb:600:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/util.rb:600:in `check_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/util.rb:654:in `check_sass_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/engine.rb:372:in `check_encoding!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/engine.rb:339:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/bin/scss:23:in `load'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid US-ASCII character \"\xC3\"\A         on line 20 of /Users/Antonio/Documents/Projects/Let's/Website/LetsWebsite/static/css/print.scss\A \A 15:     }\A 16:     .menu {\A 17:         section {\A 18:             page-break-after: always;\A 19:             &:before {\A 20:                 content: \"nîkúmøn\";\A 21:                 margin-left: 2em;\A 22:             }\A 23:             ul {\A 24:                 li {\A 25:                     width: 12em;"; }
