{% extends "base.html" %}
{% block content %}
  
<!-- <div id="wrapper"> -->
<section class="main">
    <!-- <p>Fizz is for doing things together. It’s the easiest way to coordinate events with your friends and find people to do things with.</p> -->
    <header>
        <h1><span>Fizz is for doing </span><span>karaoke night</span><span> together.</span><h1>
    </header>
    <section class="iphone">
        <div class="screen">
            <div class="interface">
                <h1>Karaoke</h1>
                <div class="bubbles">
                    <div class="top">
                        
                    </div>
                    <div class="bottom">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="homeButton"></div>
    </section>
</section>

<!-- <a href="http://cactusformac.com"><img id="badge" class="2x" src="{% static '/images/badge.png' %}"/></a>{% endblock content%} -->