{% extends "base.html" %}
{% block content %}
  
<!-- <div id="wrapper"> -->
<section class="main">
    <!-- <p>Fizz is for doing things together. It’s the easiest way to coordinate events with your friends and find people to do things with.</p> -->
    <header>
        <h1>Get your friends together<h1>
    </header>
    <section class="iphone">
        <div class="screen">
            <div class="interface">
                <header>
                    <h1>Tropical Tuesday at Brillbox tomorrow at 9</h1>
                    <author>Christina Kang</author>
                </header>
                <section class="guestlist">
                    <ul class="going">
                        <li>Cedrick Durfee</li>
                        <li>Oren Asay  </li>
                        <li>Sid Bumbalough  </li>
                        <li>Bernardina Ree  </li>
                        <li>Jerrell Lehrer  </li>
                        <li>Dorothea Hutter  </li>
                        <li>Juliet Mattix</li>
                        <li>Orville Trunzo  </li>
                        <li>Shawanda Gosse  </li>
                        <li>Denice Lavigne  </li>
                        <li>Idell Morace</li>
                    </ul>
                    <ul class="no-reply">
                        <li>Cedrick Durfee</li>
                        <li>Oren Asay  </li>
                        <li>Sid Bumbalough  </li>
                        <li>Bernardina Ree  </li>
                        <li>Jerrell Lehrer  </li>
                        <li>Dorothea Hutter  </li>
                        <li>Juliet Mattix</li>
                        <li>Orville Trunzo  </li>
                        <li>Shawanda Gosse  </li>
                        <li>Denice Lavigne  </li>
                        <li>Idell Morace</li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="homeButton"></div>
    </section>
</section>

<!-- <a href="http://cactusformac.com"><img id="badge" class="2x" src="{% static '/images/badge.png' %}"/></a>{% endblock content%} -->