{% extends "base.html" %}
{% block content %}
  
<header>
    <h1>Let’s<span> go and have fun with friends at the pool.</span></h1>
</header>
<section class="buttons">
    <ul>
        <li><a href="/" title="Download for iOS">iOS</a></li>
        <li><a href="/" title="Download for Android">Android</a><li>
    </ul>
</section>
<script src="{% static '/static/js/intro.js' %}"></script>
<!-- <a href="http://cactusformac.com"><img id="badge" class="2x" src="{% static '/images/badge.png' %}"/></a>{% endblock content%} -->

