<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<link rel="shortcut icon" href="{% static '/static/images/favicon.ico' %}">

    <link href="{% static 'css/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="{% static 'css/print.css' %}" media="print" rel="stylesheet" type="text/css">
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="{% static '/static/js/client.js' %}"></script>
	{% block header %}
	<title>{% block title %}Let’s{% endblock %}</title>
	{% endblock header %}

</head>
<body>
	{% block content %}
	Main content
	{% endblock content %}
    <footer>
        © Let’s, LLC 2014
    </footer>
	{% block scripts %}
	<script src="{% static '/static/js/main.js' %}"></script>
	{% endblock scripts%}
</body>
</html>
